
<div id="particles-js"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
<script src="/js/error.js"></script>


<div class="error-page">
    <div>
        <h1 data-h1="{{error.status}}">{{error.status}}</h1>
        <img class="geosurflogo" src={{geoPic}} alt="Geosurf">
        <p data-p="{{message}}">{{message}}</p>
    </div>
</div>
<div id="particles-js"></div>