<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/images/favicon.ico">
    
      {{#if style}}
        <link rel="stylesheet" href="/stylesheets/{{style}}.css" />
      {{/if}}
  </head>
  <body>
    {{{body}}}
     {{#if js}}
    <script> window.root_url = "{{root_url}}"</script>    
    <script src="/js/{{js}}.js"></script>
    {{/if}}
  </body>
</html>
